<div class="bg">

<div class="waweRight">
    <svg id="wave" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="216.312" height="1080.439" viewBox="0 0 216.312 1080.439">
        <defs>
          <linearGradient id="linear-gradient" x1="0.5" y1="1" x2="0.5" gradientUnits="objectBoundingBox">
            <stop offset="0" stop-color="#f95858"/>
            <stop offset="1" stop-color="#f95858"/>
          </linearGradient>
        </defs>
        <path id="wave-2" data-name="wave" d="M1080.439,0,966.71,119.211c-21.989,20.267-65.968,61.879-109.946,82.145-43.978,20.575-87.957,20.575-131.935-4.084S636.872,123.3,592.894,102.72c-43.978-20.267-87.957-12.561-131.935,12.33C416.98,139.478,380.7,197.1,329.023,203.306,251.024,218.588,0,0,0,0H1080.439Z" transform="translate(216.312) rotate(90)" fill="url(#linear-gradient)"/>
    </svg>  
</div>  

<div class="container text-white"> 
  <div class="d-flex flex-column flex-lg-row align-items-center justify-content-around about">
    <div>
      <img src="../../../assets/Component 2 – 1.png" class="img-fluid" width="400px">
    </div>
    <div class="about-text">
      <h1>Om mig</h1>
      <h6 class="mt-4">Ett år på frontend-utbildningen har gett en bra kunskap och grund inom webbutveckling. Allt ifrån hur agila projektmetoder fungerar, UX-design och användaruppleveser till programmering i JavaScript. En del saker har varit mer utmanande än andra. Jag tycker programmering och problemlösning är otroligt kul men också svårt och jag strävar hela tiden efter att utvecklas och bli bättre inom det.
        <br> När jag inte studerar tycker jag om att träna, framförallt simning, löpning och styrketräning. Utöver det tycker jag om att vandra i skog och fjäll och umgås med familj och vänner. 
      </h6>
      <button class="btn btn-danger mt-4">Kontakt</button>
    </div>
  </div>
</div>

<div class="waweLeft">
  <svg id="Component_5_1" data-name="Component 5 – 1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="207.12" height="1080.439" viewBox="0 0 207.12 1080.439">
      <defs>
        <linearGradient id="linear-gradient" x1="0.5" x2="0.5" y2="1" gradientUnits="objectBoundingBox">
          <stop offset="0" stop-color="#f95858"/>
          <stop offset="1" stop-color="#f95858"/>
        </linearGradient>
      </defs>
      <path id="wave" d="M799.678,128.179l-24.02-19.7c-24.02-19.405-72.061-59.249-120.1-78.655-48.041-19.7-96.082-19.7-144.123,3.911s-96.082,70.834-144.123,90.534c-48.041,19.405-96.082,12.027-144.123-11.806-48.041-23.39-79.454-85.052-144.123-84.505C-32.826,33.365-280.351,222.624-280.351,222.624H799.678Z" transform="translate(222.624 280.761) rotate(90)" fill="#fbb"/>
      <path id="wave-2" data-name="wave" d="M1080.439,68.425l-24.03-11.964C1032.38,44.677,984.321,20.481,936.262,8.7,888.2-3.268,840.144-3.268,792.085,11.071S695.966,54.086,647.907,66.05c-48.059,11.784-96.118,7.3-144.177-7.169-48.059-14.2-87.7-47.708-144.177-51.318C274.316-1.324,0,125.779,0,125.779H1080.439Z" transform="translate(126.801) rotate(90)" fill="url(#linear-gradient)"/>
    </svg>
</div>

<div class="text-white container skills text-center">
  <h1 class="mb-5 pb-5">Kunskaper</h1>
  <div class="d-flex flex-column flex-sm-row justify-content-around mb-5">
    <div class="skill-left">
      <h3 class="mb-5">Färdiga kurser</h3>
      <div>
        <p>Agila Projektmetoder</p>

        <p>UX-design del 1</p>

        <p>HTML/CSS<br><small>(HTML5, CSS3 & Bootstrap)</small>
        </p>

        <p>JavaScript 1<br><small>(Vanilla JavaScript)</small>
        </p>

        <p>JavaScript 2<br><small>(Node Js & Vue)</small>
        </p>

        <p>JavaScript 3<br><small>(React & Angular )</small>
        </p>
    
      </div>
    </div>
    <svg class="divider" xmlns="http://www.w3.org/2000/svg" width="4" height="428.7" viewBox="0 0 4 728.7">
      <path id="Path_11" data-name="Path 11" d="M0,0V728.7" transform="translate(2 728.7) rotate(180)" fill="none" stroke="#f95858" stroke-width="4"/>
    </svg>
    
    <div>
      <div class="skill-right">
        <h3 class="mb-5">Kommande kurser</h3>
        
        <p>UX-design del 2</p>
       
        <p>Backend 1</p>
        
        <p>Backend 2</p>
    
      </div>
    </div>
  </div>
</div>

</div>